*{
    margin: 0;
    padding: 0;
    
}

.BAN{
    width: 100%;
    height: 800px;
    animation: BAN 10s infinite linear alternate;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*codigo para animar las imagnes*/



@keyframes BAN{
    0%, 20%{
        background-image: url(../img/FODNO_2.png)
    }
    25%, 45%{
        background-image: url(../img/FONDO_4.png)
    }
    50%, 70%{
        background-image: url(../img/FONDO_hd.png)
    }
    75%, 100%{
        background-image: url(../img/FONDOS_3.png)
    }
    
}

.capa{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0,0,0,0.2);
}

.info{
    z-index: 1;
    width: 100%;
    max-width: 550px;
    text-align: center;
}

.info h1{
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: 'Newsreader';
}




